# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv/
venv/
ENV/
pip-wheel-metadata/

# Jupyter
.ipynb_checkpoints/

# Data (jangan commit data mentah/hasil)
01_DATA_RAW/
02_DATA_CLEAN/
05_OUTPUTS/
06_REPORTS/

# OS / Editor
.DS_Store
Thumbs.db
.vscode/

# Git
*.orig
